Repository moranje/alfred-workflow-todoist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,js,json,md,yml}": [
    "prettier --write"
  ],
  "src/**/*.{ts,js}": [
    "eslint --fix"
  ]
}

chore: externalize source-maps
  rollup.config.ts
  tsconfig.json
Due: prettier --write

chore: remove update store in favor of inlining values
  .eslintrc.yml
  .releaserc
  assets/workflow.json
  jest.config.js
  src/lib/sentry.ts
  src/lib/stores/__mocks__/settings-store.ts
  src/lib/stores/settings-store.ts
  src/lib/stores/update-store.ts
  src/lib/utils.ts
  tools/build.ts
  tools/bump-version.ts
  tools/move-files.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: fix plist changes not updated on build
  package.json
  tools/build.ts
  tools/move-files.ts
Due: prettier --write

chore: sentry picking up invalid source file paths
  package-lock.json
  package.json
  src/alfred-workflow-todoist.ts
  src/lib/sentry.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: add relative location name to workflow entry for sentry
  tools/sentry-release.sh
Due: none

fix(project): unhelpful error message when missing todoist token in settings
  src/lib/commands/create.ts
  src/lib/commands/helpers.ts
  src/lib/commands/read.ts
  src/lib/commands/refresh-cache.ts
  src/lib/commands/remove.ts
  src/lib/todoist/index.ts
  src/lib/todoist/local-rest-adapter/index.ts
Due: prettier --write, eslint --fix

chore: stop last_update from apearing when reading settings
  src/lib/commands/read-settings.ts
Due: prettier --write, eslint --fix

chore: delete unused mock
  src/lib/stores/__mocks__/update-store.ts
Due: prettier --write, eslint --fix

test: fix failing tests
  src/lib/tests/error.ts
  src/lib/todoist/tests/parser.ts
  src/tests/parse.ts
  src/tests/read-remote.ts
  src/tests/read-settings.ts
  src/tests/read.ts
Due: prettier --write, eslint --fix

chore: uncomment error params
  src/lib/todoist/index.ts
Due: prettier --write, eslint --fix

chore: ignore dist folder
  .gitignore
Due: none

chore: remove unused workflow.json from dist
  dist/workflow/workflow.json
Due: prettier --write

fix: updater not picking up new prereleases, please update manually
  src/lib/updater.ts
Due: prettier --write, eslint --fix

chore: package version should be leading
  src/lib/utils.ts
Due: prettier --write, eslint --fix

chore: update rollup config for speedier builds
  rollup.config.ts
Due: prettier --write

build: fix failing build due to invalid package.json reference
  tools/bump-version.ts
Due: prettier --write

chore(release): 6.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  612d6aafb582d9f3f023f9c64895b398c1569410
Due: none

docs: updated README.md
  README.md
Due: prettier --write

fix(commands): #151 don't rely on alfred input filtering, remove uids
  src/lib/workflow/item.ts
Due: prettier --write, eslint --fix

chore(commands): add more helpful messages for settings
  src/lib/commands/read-settings.ts
  src/lib/stores/settings-store.ts
Due: prettier --write, eslint --fix

fix: updater not storing last update timestamp
  src/lib/updater.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  839437903147bcb3440f7ec34c7004b7ba7a149e
Due: none

docs: add info on max_items configuration option
  README.md
Due: prettier --write

chore: escape backticks in alfred
  assets/info.plist
Due: none

chore: rename misleading plist version
  assets/info.plist
Due: none

chore: streamline run scripts
  package-lock.json
  package.json
Due: prettier --write

chore: update configuration files
  .eslintignore
  .eslintrc.js
  .eslintrc.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .markdownlint.yml
  .markdownlintignore
  .prettierrc
Due: prettier --write

build: allow commiting file with no related test file
  package.json
Due: prettier --write

fix(settings): #152 settings break with multiple consecutive spaces
  src/lib/commands/read-settings.ts
Due: prettier --write, eslint --fix

improvement(commands): cleaner built-in bug reports
  src/lib/error.ts
Due: prettier --write, eslint --fix

ci: simplify ci run scripts
  .travis.yml
  package.json
Due: prettier --write

fix(commands): error when trying to retrieve a non existent project
  src/lib/commands/read.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e768d023bd9b665cca1d9970af8697ca2ab3330a
Due: none

fix(cache): issue where cache timestamps wouldn't be updated once created
  src/lib/todoist/local-rest-adapter/conf-cache/index.ts
Due: prettier --write, eslint --fix

improvement(cache): error when trying to initialize cache store without cacheTimeout
  src/lib/todoist/local-rest-adapter/conf-cache/index.ts
Due: prettier --write, eslint --fix

chore: code readability improvements
  src/lib/cli-args.ts
  src/lib/command.ts
  src/lib/commands/helpers.ts
  src/lib/commands/parse.ts
  src/lib/commands/read-settings.ts
  src/lib/commands/read.ts
  src/lib/commands/write-setting.ts
  src/lib/logger.ts
  src/lib/sentry.ts
  src/lib/stores/cache-store.ts
  src/lib/stores/settings-store.ts
  src/lib/todoist/index.ts
  src/lib/todoist/lexer.ts
  src/lib/todoist/local-rest-adapter/index.ts
  src/lib/todoist/local-rest-adapter/local-rest-adapter.ts
  src/lib/todoist/local-rest-adapter/local-task-adapter.ts
  src/lib/todoist/parser.ts
  src/lib/updater.ts
  src/lib/utils.ts
  src/lib/workflow/item.ts
  src/lib/workflow/list.ts
Due: prettier --write, eslint --fix

improvement: make logger aware of calls that might break UX if logged to stdout
  src/lib/cli-args.ts
  src/lib/error.ts
  src/lib/logger.ts
  src/lib/tests/error.ts
  src/lib/tests/logger.ts
  src/tests/helpers/utils.ts
Due: prettier --write, eslint --fix
