Repository moranje/alfred-workflow-todoist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(parser): reimplement date from now for timestamped tasks
  src/lib/commands/read.ts
Due: prettier --write, eslint --fix

fix(cache): handle empty resource lists
  src/lib/todoist/local-rest-adapter/conf-cache/tests/conf-cache.ts
  src/lib/todoist/local-rest-adapter/local-rest-adapter.ts
Due: prettier --write, eslint --fix

chore: add non camel case language identifiers to eslint exceptions
  .eslintrc.js
Due: prettier --write

test: fix failing test
  src/lib/todoist/local-rest-adapter/conf-cache/tests/conf-cache.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.0-alpha.7 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  962b556776c98757c442b7a70593889e6a598ea7
Due: none

feat(commands): #13 sort by due date by default
  src/lib/commands/read.ts
  src/tests/read-remote.ts
  src/tests/read.ts
Due: prettier --write, eslint --fix

fix(cache): cache always being reset
  src/lib/todoist/local-rest-adapter/conf-cache/index.ts
Due: prettier --write, eslint --fix

chore(dependency): add fast-sort
  package-lock.json
  package.json
Due: prettier --write

chore(release): 6.0.0-alpha.8 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1505a9b7816ab2e099d01517e8751aa148795fc7
Due: none

chore: switch from coveralls to codecov
  .prettierrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: fix linting errors
  README.md
Due: prettier --write

chore(commands): switch to library that implements a stable sort (not implemented in node.js 10)
  package-lock.json
  package.json
  src/lib/commands/read.ts
Due: prettier --write, eslint --fix

chore: run commitizen on git commit
  .huskyrc
  README.md
  package.json
Due: prettier --write

improvement(project): updater should now never break the users interaction
  src/alfred-workflow-todoist.ts
  src/lib/error.ts
  src/lib/tests/error.ts
  src/lib/updater.ts
Due: prettier --write, eslint --fix

chore: explicit shebang
  tools/sentry-release.sh
Due: none

test(project): add test for updater module
  src/lib/tests/updater.ts
  src/lib/updater.ts
  src/tests/helpers/fixtures.ts
  src/tests/helpers/nock-requests.ts
Due: prettier --write, eslint --fix

fix(commands): certain characters not (" and \) being parsed
  assets/info.plist
  jest.config.js
  src/lib/cli-args.ts
  src/lib/tests/cli-args.ts
Due: prettier --write, eslint --fix

refactor(project): minor changes
  package.json
  src/lib/commands/read-settings.ts
  src/lib/logger.ts
  src/lib/stores/__mocks__/settings-store.ts
  src/lib/stores/settings-store.ts
  src/lib/tests/updater.ts
  src/lib/updater.ts
  tools/setup.ts
Due: prettier --write, eslint --fix

chore: update deps and eslint config
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write

chore: fix npm run cm running twice
  package.json
Due: prettier --write

chore: really fix npm run commit running twice
  .huskyrc
  cz-config.js
  package.json
Due: prettier --write

chore: fix linting issues
  src/alfred-workflow-todoist.ts
  src/lib/cli-arguments.ts
  src/lib/command.ts
  src/lib/commands/helpers.ts
  src/lib/commands/parse.ts
  src/lib/commands/read-settings.ts
  src/lib/commands/read.ts
  src/lib/error.ts
  src/lib/logger.ts
  src/lib/tests/cli-arguments.ts
  src/lib/todoist/index.ts
  src/lib/todoist/lexer.ts
  src/lib/todoist/local-rest-adapter/index.ts
  src/lib/updater.ts
  src/lib/utils.ts
  src/lib/workflow/item.ts
  src/lib/workflow/list.ts
  src/tests/helpers/utils.ts
Due: prettier --write, eslint --fix

feat(commands): filter tasks directly through Todoist
  .lintstagedrc
  README.md
  src/lib/commands/read.ts
  src/lib/error.ts
  src/lib/todoist/grammar.ne
  src/lib/todoist/grammar.ts
  src/lib/todoist/local-rest-adapter/local-task-adapter.ts
  src/lib/todoist/parser.ts
  src/lib/todoist/tests/parser.ts
  src/lib/workflow/list.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.0-alpha.9 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f94074e7138fedc7f2bf692c9f69815b862144d7
Due: none

build: migrate from travis to github actions
  .github/workflows/build.yml
Due: prettier --write

build: fix build.ymml
  .github/workflows/build.yml
Due: prettier --write

build: fix sentry envs in build action
  .github/workflows/build.yml
Due: prettier --write

chore(project): remove travis config
  .coveralls.yml
  .travis.yml
Due: prettier --write

fix: upgrade date-fns from 2.0.0-beta.3 to 2.9.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade node-notifier from 5.4.0 to 5.4.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade write-json-file from 3.1.0 to 3.2.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade stampit from 4.3.0 to 4.3.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade ajv from 6.10.2 to 6.11.0
  package-lock.json
  package.json
Due: prettier --write

[CodeFactor] Apply fixes to commit b719ae1
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/item.ts
  src/workflow/list.ts
Due: prettier --write, eslint --fix

[CodeFactor] Apply fixes to commit a67b383
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/item.ts
  src/workflow/list.ts
Due: prettier --write, eslint --fix

[CodeFactor] Apply fixes to commit 5868416
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/item.ts
  src/workflow/list.ts
Due: prettier --write, eslint --fix

[CodeFactor] Apply fixes to commit 7482ea9
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/item.ts
  src/workflow/list.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,js,json,md,yml}
  eslint --fix: any of: src/**/*.{ts,js}
